body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    background-color: #0D1117;
    max-width: 100vw;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 4rem;
    position: relative;
}

.topo-cabecalho {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 2rem 0 1rem 2rem;
}

.logo img {
    width: 3rem;
    height: auto;
    border-radius: 50%;
}

.navegacao {
    padding: 2rem 1rem 1rem 0;
    position: relative;
}

.navegacao ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 3rem;
}

.navegacao ul li a {
    display: block;
    text-decoration: none;
    background-color: #1f2a44;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: transform 0.3s ease;
    padding: 10px 5px;
    border: 1px solid transparent;
}

.navegacao ul li a:hover,
.navegacao ul li a:focus {
    transform: scale(1.1);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #a2d2ff;
    box-shadow: 0 8px 16px rgba(162, 210, 255, 0.3);
}

.navegacao ul li a:focus,
.btn-curriculo a,
.link a,
.cartao-certificado:focus-within,
.btn-certificado a,
.seta-topo:focus {
    outline: none;
}

.menu {
    display: none;
    cursor: pointer;
}

.hamburguer {
    width: 30px;
    height: 3px;
    background-color: #C9D1D9;
    display: block;
    position: relative;
}

.hamburguer::before,
.hamburguer::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #C9D1D9;
    transition: 0.3s;
    display: block;
    left: 0;
}

.hamburguer::before {
    top: -8px;
}

.hamburguer::after {
    top: 8px;
}

#menu-hamburguer {
    display: none;
}

.apresentacao {
    display: flex;
    gap: 30px;
    padding: 2rem 4rem 0 4rem;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nome,
.profissao {
    color: #a2d2ff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.nome {
    font-size: 2.5rem;
    font-weight: 700;
}

.profissao {
    font-size: 2rem;
    font-weight: 600;
}

.saudacao {
    color: #d0bfff;
    font-size: 1.5rem;
    padding: 1em 2em 0 0;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-curriculo,
.imagem-seta,
.link,
.icone {
    background-color: #d0bfff;
}

.btn-curriculo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-curriculo:hover,
.btn-curriculo:focus-within {
    transform: translateY(-5px);
    background-color: #bfa6ff;
    cursor: pointer;
}

.btn-curriculo:focus-within,
.link:focus-within {
    outline: 2px solid #bfa6ff;
    outline-offset: 4px;
}

.btn-curriculo a {
    text-decoration: none;
    color: #1f2a44;
    font-size: 1rem;
    font-weight: 500;
}

.imagem-perfil {
    padding-left: 1rem;
}

.imagem-perfil img {
    width: 23rem;
    height: auto;
    border-radius: 50%;
    border: 3px solid #d0bfff;
}

@keyframes sobedesce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.seta-baixo {
    bottom: 5%;
    left: 50%;
    animation: sobedesce 1.2s infinite;
    position: absolute;
}

.imagem-seta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.seta-baixo img {
    width: 45px;
    height: auto;
}

.secao {
    padding: 2rem 0rem 4rem 4rem;
}

.subtitulo {
    color: #b9a9f8;
    font-size: 2rem;
    font-weight: 600;
}

.sobremim .subtitulo {
    padding-bottom: 2rem;
}

.resumo {
    background-color: rgba(208, 191, 255, 0.1);
    margin-bottom: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 87rem;
    padding: 1rem 4rem 4rem 4rem;
}

.resumo,
.lista-certificados {
    height: auto;
}

.texto {
    color: #d9dbf1;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.projetos {
    padding: 2rem 4rem 0 4rem;
}

.lista-projetos,
.icones-tecnologia,
.icones-habilidades,
.lista-certificados,
.cartao-certificado,
.conteudo-rodape,
.lista-contatos {
    gap: 20px;
}

.lista-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.cartao {
    background-color: #1f2a44;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 26rem;
    height: 37rem;
    padding: 17px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 2px solid #d0bfff;
}

.cartao:hover,
.cartao:focus-within {
    transform: translateY(-10px);
}

.projeto img {
    width: 25rem;
    height: auto;
}

.projeto-extra {
    display: none;
}

.mostrar-projeto {
    display: flex;
}

.animacao-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animacao-scroll.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.informacoes-projeto {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titulo-projeto {
    color: #a2d2ff;
    font-size: 18px;
}

.texto-projeto {
    color: #d9dbf1;
    font-size: 14px;
}

.titulo-tecnologia {
    color: #b9a9f8;
    font-size: 15px;
}

.icones-tecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.icones-tecnologia .ts-icone img,
.icones-tecnologia .tailwind-icone img{
    width: 20px;
    height: 19px;
}

.html5-icone {
    color: #E34F26;
}

.css3-icone {
    color: #1572B6;
}

.js-icone {
    color: #F7DF1E;
}

.react-icone {
    color: #61DAFB;
}


.titulo-link {
    font-size: 15px;
}

.links-projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 5rem;
}

.links-projeto a {
    text-decoration: none;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2.5rem;
    border-radius: 20px;
}

.link:hover,
.link:focus-within {
    background-color: #b9a9f8;
    color: #ffffff;
}

.link a {
    color: #1f2a44;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #30363d;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
    color: #58a6ff;;
    transition: 
        background-color 0.3s,
        color 0.3s ease,
        transfrom 0.2s ease;
}

.button:hover {
    background-color: #58a6ff;
    color: #0D1117;
    transform: translatey(-2px);
}

.button:active {
    transform: translateY(0);
}

.esconder {
    display: none;
}

#btn-topo.esconder {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
}


.habilidades {
    padding: 2rem 4rem 0 4rem;
}

.icones-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.icone {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.icone:hover {
    background-color: #c0a8ff;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

.git {
    color: #F05033;
}

.git i,
.github i,
.html5 i,
.css3 i,
.javascript i,
.react i {
    font-size: 7rem;
}

.github {
    color: #181717;
}

.html5 {
    color: #E34F26;
}

.css3 {
    color: #1572B6;
}

.javascript {
    color: #c9b700;
}

.react {
    color: #61DAB5;
}

.icone.typescript img,
.icone.vite img,
.icone.tailwind img {
    width: 6.5rem;
    height: auto;
}

.nomes-icones {
    color: #0d111f;
}

.subtitulo {
    padding-bottom: 2rem;
}

.certificados {
    padding: 2rem 4rem 0 4rem;
}

.lista-certificados {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.cartao-certificado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #161b22;
    color: #f0f0f0;
    width: 38rem;
    height: 28rem;
    max-width: 100%;
    padding: 0 2rem 0 2rem;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.cartao-certificado:hover,
.cartao-certificado:focus-within {
    box-shadow: 0 8px 24px rgba(108, 99, 255, 0.3);
    background-color: #1f2630;
    transform: translateY(-1px);
}

.cartao-certificado img {
    width: 10rem;
    height: auto;
}

.nome-certificado {
    color: #ffffff;
}

.texto-certificado {
    color: #c9d1d9;
}

.btn-certificado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    background-color: #6c63ff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.btn-certificado:hover,
.btn-certificado:focus-within {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #574fd6;
}

.btn-certificado:focus-within {
    outline: 2px solid #bfa6ff;
    outline-offset: 2px;
}

.btn-certificado a {
    text-decoration: none;
    color: #fff;
}

#btn-topo {
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    background-color: #58a6ff;
    color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: 
        transform 0.3s ease,
        opacity 0.3s ease,
        background-color 0.3s ease;
}

#btn-topo:hover {
    background-color: #1f6feb;
    transform: translateY(-4px);
}


.contatos {
    padding: 2rem 4rem 0 4rem;
}

.conteudo-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 34rem;
}

.contatos .imagem-pixar-luciane {
    border-radius: 45%;
    width: 15rem;
    height: auto;
    border: 3px solid #6c63ff;
}

.lista-contatos {
    display: flex;
}

.lista-contatos li {
    list-style: none;
}

.contato a {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #8a82ff;
    background-color: #161b22;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
}

.contato a:hover,
.contato a:focus {
    border-color: #6c63ff;
    color: #8a82ff;
}

.contato-github a {
    color: #c9d1d9;
}

.contato-linkedin a {
    color: #0A66C2;
}

.contato-whatsaap a {
    color: #25D366;
}

.contato-email a {
    color: #f9a825;
}

.frase-final {
    color: #c9d1d9;
    font-style: italic;
}

.desenvolvido {
    color: #6e7681;

}