@media(max-width: 1280px) {
    .cabecalho__topo {
        padding-right: 2rem;
    }
}

@media(max-width:1024px) {
    .cabecalho__navegacao ul {
        gap: 2rem;
    }

    .cabecalho__navegacao ul li a {
        font-size: 0.75rem;
    }

    .apresentacao {
        padding: 1.8rem;
        gap: 5px;
    }

    .apresentacao__informacoes {
        gap: 2px;
    }

    .apresentacao__nome {
        font-size: 2.3rem;
    }

    .apresentacao__cargo {
        font-size: 1.8rem;
    }

    .apresentacao__descricao {
        font-size: 1.3rem;
    }

    .apresentacao__curriculo {
        margin-top: 1rem;
    }

    .imagem-perfil img {
        width: 16rem;
        height: auto;
    }

    .seta-baixo {
        bottom: 0.8%;
    }

    .sobremim__texto {
        font-size: 1.07rem;
    }

    .projetos__titulo {
        font-size: 1rem;
    }

    .projetos__texto {
        font-size: 12px;
    }

    .projetos__titulo-tecnologias {
        font-size: 14px;
    }

    .projetos__tecnologias {
        font-size: 1rem;
    }

    .projetos__links {
        font-size: 11px;
        gap: 3rem;
    }

    .projetos__cartao-certificado {
        width: 17rem;
        height: 15rem;
    }

    .certificado__texto {
        font-size: 12px;
    }

    .contatos__mensagem,
    .contatos__credito {
        font-size: 12px;
    }
}

@media(max-width: 920px) {
    .cabecalho__topo {
        padding-right: 1rem;
    }

    .cabecalho__menu-alternar {
        display: flex;
        width: 2.2rem;
        height: 2.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 2.2rem;
    }

    .cabecalho__navegacao ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 1rem;
        background-color: #161B22;
        padding: 25px;
        border-radius: 8px;
        border: 1px solid #30363d;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        gap: 1rem;
        text-align: center;
    }

    #menu-hamburguer:checked~ul {
        display: flex;
    }

    .cabecalho {
        min-height: auto;
        gap: 2rem;
    }

    .apresentacao__descricao {
        align-items: center;
        padding: 0;
    }

    .secao {
        padding: 1rem;
    }

    .sobremim,
    .projetos,
    .contatos {
        height: auto;
    }

    .apresentacao,
    .apresentacao__informacoes {
        align-items: center;
    }

    .apresentacao {
        flex-direction: column;
        gap: 2rem;
        padding-top: 0;
    }

    .apresentacao__informacoes{
        text-align: center;
        gap: 20px;
    }

    .imagem-perfil img {
        width: 13rem;
        height: auto;
    }

    .seta-baixo {
        display: none;
    }

    .projetos__cartao {
        width: 23rem;
    }


    .projetos__informacoes {
        height: 15rem;
    }

    .projetos__texto,
    .certificados__texto {
        font-size: 10px;
    }

    .projetos__links {
        gap: 2rem;
    }

    .certificados__cartao {
        height: 13rem;
    }
}

@media(max-width: 854px) {
    .habilidades__item {
        width: 5rem;
        height: 5rem;
    }

    .habilidades__nome {
        font-size: 12px;
    }
}

@media (max-width: 820px) {

}

@media (max-width: 768px) {}

@media (max-width: 540px) {
    .cabecalho {
        height: auto;
    }

    .apresentacao__nome {
        font-size: 2rem;
    }

    .apresentacao__cargo {
        font-size: 1.5rem;
    }

    .apresentacao__descricao {
        font-size: 1rem;
    }

    .apresentacao__curriculo {
        width: 8rem;
        height: 2.5rem;
    }

    .apresentacao__curriculo a {
        font-size: 14px;
    }

    .imagem-perfil img {
        width: 10rem;
        height: auto;
    }

    .sobremim {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobremim__texto {
        font-size: 1.09rem;
    }

    .habilidades__lista {
        justify-content: center;
    }

    .habilidades__item {
        width: 4rem;
        height: 4rem;
    }

    .habilidades__item{
        font-size: 2rem;
    }

    .habilidades__nome {
        font-size: 9px;
    }

    .habilidades__item--typescript img,
    .habilidades__item--vite img,
    .habilidades__item--tailwind img {
        width: 2rem;
        height: auto;
    }

    .certificados__lista {
        justify-content: center;

    }

    .projetos__cartao-certificado {
        width: 15rem;
    }

    #btn-topo {
        width: 28px;
        height: 28px;
        font-size: 1.3rem;
    }

    .contatos .contatos__imagem {
        width: 6rem;
        height: auto;
    }

    .contatos__mensagem,
    .contatos__credito {
        font-size: 10px;
    }
}

@media (max-width: 431px) {
    .apresentacao {
        padding: 1rem;
    }

    .sobremim__texto {
        font-size: 1rem;
    }

}

@media (max-width: 415px) {
    .subtitulo {
        font-size: 1.9rem;
    }
}

@media(max-width: 391px) {
    .subtitulo {
        font-size: 1.7rem;
    }

    .sobremim__texto {
        font-size: 1rem;
    }

    .imagem-seta {
        width: 50px;
        height: 50px;
    }

    #btn-topo {
        font-size: 1.1rem;
    }

    .contatos .contatos__imagem {
        width: 5rem;
        height: auto;
    }
}

@media(max-width: 376px) {
    .subtitulo {
        font-size: 1.6rem;
    }

    .habilidades__item {
        width: 3rem;
        height: 3rem;
    }

    .habilidades__nome {
        font-size: 6px;
    }
}

@media (max-width: 360px) {
    .subtitulo {
        font-size: 1.5rem;
    }
}

@media(min-width: 1024px) and (min-height: 1000px) {

    .cabecalho {
        min-height: auto;
    }

    .apresentacao,
    .apresentacao__informacoes {
        align-items: center;
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        gap: 40px; 
    }

    .apresentacao__informacoes {
        text-align: center;
        gap: 20px;
    }

    .apresentacao__descricao {
        padding: 0;
    }

    .seta-baixo {
        display: none;
    }
}