@media(max-width: 1280px ){
    .topo-cabecalho{
        padding-right: 2rem;
    }

    .cabecalho {
        min-height: 100vh;
    }

    .resumo {
        max-width: 72rem;
    }

    .cartao {
        width: 23rem;
        height: 40rem;
    }

    .contatos {
        min-height: 40rem;
    }

    .icones-habilidades {
        min-height: 35rem;
    }

    .certificados {
        min-height: 65rem;
    }
} 

@media(max-width:1024px) {
    .cabecalho {
        gap: 1rem;
    }

    .navegacao {
        padding-right: 1.8rem;
    }

    .navegacao ul {
        gap: 2rem;
    }

    .apresentacao {
       padding: 1rem 1.8rem 0 3rem;
       gap: 5px;
    }

    .informacoes {
        gap: 2px;
    }

    .btn-curriculo {
        margin-top: 1rem;
    }

    .seta-baixo {
        bottom: 0.8%;
    }

    .secao {
        padding: 1rem 1.5rem 0 3rem;
    }

    .sobremim {
        height: auto;
    }

    .resumo {
        max-width: 58rem;
        padding: 1.5rem 3rem 3rem 3rem;
    }

    .texto {
        font-size: 1.07rem;
        margin-top: 1rem;
    }

    .cartao {
        width: 19rem;
        height: 32rem;
    }

    .projetos {
        margin-top: 0;
    }

    .projeto img {
        width: 20rem;
        height: auto;
    }

    .titulo-projeto {
        font-size: 16px;
    }

    .texto-projeto {
        font-size: 12px;
    }

    .titulo-tecnologia {
        font-size: 14px;
    }

    .icones-tecnologia {
        font-size: 16px;
    }
    
    .links-projeto {
        font-size: 11px;
        gap: 3rem;
    }

    .icones-habilidades {
        padding-bottom: 2rem;
    }

    .certificados {
        min-height: 40rem;
    }

    .lista-certificados {
        min-height: 90vh;
    }

    .cartao-certificado {
        width: 23rem;
        height: 30rem;
    }
}   

@media(max-width: 920px) {  
    .topo-cabecalho {
        padding-right: 1rem;
    }
    .menu {
        display: flex;
        width: 40px;
        height: 40px; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 35px; 
    }    

    .navegacao ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: 16px;
        background-color: #161B22;
        padding: 25px;
        border-radius: 8px;
        border: 1px solid #30363d;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        gap: 1rem;
        text-align: center;
    }

    #menu-hamburguer:checked ~ ul{
        display: flex;
    }

    .cabecalho {
        min-height: 42rem;
    }

    .saudacao {
        padding-right: 1rem;
    }

    .sobremim,
    .resumo,
    .projetos,
    .icones-habilidades,
    .conteudo-rodape,
    .contatos {
        height: auto;
    }

    .resumo {
        max-width: 51rem;
    }

    .apresentacao,
    .informacoes {
        align-items: center;
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        gap: 40px;
    }

    .informacoes,
    .sobre-mim,
    .minha-jornada,
    .meus-objetivos,
    .convite,
    .contato {
        text-align: center;
    }

    .informacoes {
        gap: 20px;
    }

    .seta-baixo {
        display: none;
    }

    .projetos {
        margin-top: 0; 
    }

    .texto-projeto {
        font-size: 10px;
    }

    .links-projeto {
        gap: 2rem;
    }

    .habilidades {
        min-height: 45rem;
    }

    .lista-certificados {
        min-height: 30rem;
    }

    .contatos .imagem-pixar-luciane {
        width: 15rem;
        height: auto;
    }
}

@media(max-width: 854px) {
    .sobremim {
        padding-right: 3rem;
    }

    .resumo {
        max-width: 46rem;
    }
}    

@media (max-width: 820px) {
    .resumo,
    .lista-certificados {
      max-width: 44rem;
    }

    .lista-projetos {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .resumo {
        max-width: 42rem;
    }
}

@media (max-width: 540px) {
    .cabecalho {
        height: auto;
    }

    .nome {
        font-size: 2rem;
    }

    .profissao {
        font-size: 1.5rem;
    }

    .saudacao {
        font-size: 1rem;
    }

    .btn-curriculo {
        width: 8rem;
        height: 2.5rem;
    }

    .btn-curriculo a {
        font-size: 14px;
    }

    .imagem-perfil {
        padding-left: 0;
    }

    .imagem-perfil img {
        width: 19rem;
        height: auto;
    }

    .resumo{
        padding: 1rem 3rem 2rem 3rem;
    } 

    .texto {
        font-size: 1.09rem;
    }

    .lista-certificados {
        width: 29rem;
        padding-left: 0;
    }
}

@media (max-width: 431px) {
    .saudacao {
        padding-right: 0;
    }

    .apresentacao {
        padding-left: 2rem;
    }

    .resumo {
        padding: 1rem 2rem 2rem 2rem;
    }

    .texto {
        font-size: 1rem;
    }

    .lista-certificados {
        min-height: 73rem;
        max-width: 22rem;
    }

    .icone {
       width: 8rem;
       height: 8rem;
    }

    .git i,
    .github i,
    .html5 i,
    .css3 i {
        font-size: 5rem;
    }

    .conteudo-rodape {
        max-width: 21rem;
    }

    .desenvolvido {
        font-size: 14.8px;
    }
}

@media (max-width: 415px) {
    .subtitulo {
        font-size: 1.9rem;
    }

    .habilidades {
        min-height: 35rem;
    }

    .icones-habilidades {
        justify-content: flex-start;
        min-height: 25rem;
    }

    .lista-certificados {
        max-width: 21rem;
    }

    .contatos {
        padding-left: 24px;
    }
}

@media(max-width: 391px) {
    .imagem-perfil img {
       width: 16rem;
       height: auto; 
    }

    .subtitulo {
        font-size: 1.7rem;
    }

    .texto {
        font-size: 1rem;
    }

    .lista-certificados {
        max-width: 19.7rem;
    }

    .cartao-certificado {
        min-height: 35rem;
    }

    .frase-final {
        font-size: 14px;
    }

    .desenvolvido {
        font-size: 13px;
    }

    .imagem-seta {
        width: 50px;
        height: 50px;
    }

    .seta-topo img{
        width: 35px;
        height: auto;
    }
}

@media(max-width: 376px) {
    .subtitulo {
        font-size: 1.6rem;
    }

    .habilidades {
        min-height: 35rem;
    }

    .icones-habilidades {
        min-height: 25rem;
    }

   .lista-certificados {
        width: 19rem;
    }

   .conteudo-rodape {
       max-width: 20rem;
   }
}

@media (max-width: 360px) {
    .subtitulo {
        font-size: 1.5rem;
    }

    .lista-certificados {
        max-width: 18rem;
    }
}

@media (max-width: 345px) { 
    .subtitulo {
        font-size: 1.4rem;
    }

    .habilidades {
        min-height: 15rem;
    }

    .lista-certificados {
        max-width: 17rem;
    }

    .conteudo-rodape {
        max-width: 19rem;
    }

    .icone {
       width: 7rem;
       height: 7rem;
    }

    .git i,
    .github i,
    .html5 i,
    .css3 i {
        font-size: 4rem;
    }

    .nomes-icones {
        font-size: 16px;
    }

    .frase-final {
        font-size: 13px;
    }

    .desenvolvido {
        font-size: 12px;
    }
}

@media(min-width: 1024px) and (min-height: 1000px) {
    .cabecalho,
    .habilidades,
    .certificados {
        min-height:  45rem;
    }

    .apresentacao,
    .informacoes {
        align-items: center;
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column;
        gap: 40px;
    }

    .informacoes {
        text-align: center;
        gap: 20px;
    }

    .saudacao {
        padding-right: 7px;
    }

    .seta-baixo {
        display: none;
    }

    .sobremim,
    .contato {
        text-align: center;
    }


    .sobremim {
        min-height: 50rem;
    }
   
    .resumo,
    .contatos {
        height: auto;
    }

    .resumo {
        max-width: 57rem;
    }

    .projetos {
        min-height: 75rem;
    }

    .icones-habilidades,
    .lista-certificados {
        height: 25rem;
    }  
    
    .lista-certificados {
        min-height: 35rem;
    }
}    