@media(max-width: 1280px) {
    .topo-cabecalho {
        padding-right: 2rem;
    }

    .projeto {
        width: 29rem;
    }

    .projeto-basico {
        width: 22rem;
        height: 28rem;
    }

    .certificados {
        min-height: 65rem;
    }

    .contatos {
        min-height: 40rem;
    }
}

@media(max-width:1024px) {
    .navegacao ul {
        gap: 2rem;
    }

    .navegacao ul li a {
        font-size: 0.75rem;
    }

    .apresentacao {
        padding: 1.8rem;
        gap: 5px;
    }

    .informacoes {
        gap: 2px;
    }

    .nome {
        font-size: 2.3rem;
    }

    .profissao {
        font-size: 1.8rem;
    }

    .saudacao {
        font-size: 1.3rem;
    }

    .btn-curriculo {
        margin-top: 1rem;
    }

    .imagem-perfil img {
        width: 15rem;
        height: auto;
    }

    .seta-baixo {
        bottom: 0.8%;
    }

    .texto {
        font-size: 1.07rem;
    }

    .projeto {
        width: 26rem;
        height: 29rem;
    }

    .projeto-basico {
        height: 25rem;
    }

    .titulo-projeto {
        font-size: 1rem;
    }

    .texto-projeto {
        font-size: 12px;
    }

    .titulo-tecnologia {
        font-size: 14px;
    }

    .icones-tecnologia {
        font-size: 1rem;
    }

    .links-projeto {
        font-size: 11px;
        gap: 3rem;
    }

    .certificados {
        min-height: 40rem;
    }

    .lista-certificados {
        min-height: 90vh;
    }

    .cartao-certificado {
        width: 23rem;
        height: 30rem;
    }
}

@media(max-width: 920px) {
    .topo-cabecalho {
        padding-right: 1rem;
    }

    .menu {
        display: flex;
        width: 2.2rem;
        height: 2.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 2.2rem;
    }

    .navegacao ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 1rem;
        background-color: #161B22;
        padding: 25px;
        border-radius: 8px;
        border: 1px solid #30363d;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        gap: 1rem;
        text-align: center;
    }

    #menu-hamburguer:checked~ul {
        display: flex;
    }

    .cabecalho {
        min-height: auto;
        gap: 2rem;
    } 

    .saudacao {
        align-items: center;
        padding: 0;
    }

    .secao {
        padding: 1rem;
    }

    .sobremim {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    .sobremim,
    .projetos,
    .conteudo-rodape,
    .contatos {
        height: auto;
    }

    .apresentacao,
    .informacoes {
        align-items: center;
    }

    .apresentacao {
        flex-direction: column;
        gap: 2rem;
        padding-top: 0;
    }

    .informacoes,
    .minha-jornada,
    .meus-objetivos,
    .convite,
    .contato {
        text-align: center;
    }

    .informacoes {
        gap: 20px;
    }

    .imagem-perfil img {
        width: 13rem;
        height: auto;
    }

    .seta-baixo {
        display: none;
    }

    .projeto {
        width: 24rem;
    }

    .texto-projeto {
        font-size: 10px;
    }

    .links-projeto {
        gap: 2rem;
    }

    .lista-certificados {
        min-height: 30rem;
    }
}

@media(max-width: 854px) {
    .projeto {
        width: 23rem;
        height: 26rem;
    }

    .projeto-basico {
        width: 20rem;
    }

    .icone {
        width: 5rem;
        height: 5rem;
    }

    .nomes-icones {
        font-size: 12px;
    }
}

@media (max-width: 820px) {
    .descricao-sobre-mim {
        width: 92vw;
    }

    .projeto {
        width: 21rem;
        height: 26rem;
    }

    .projeto-basico {
        width: 19rem;
    }

    .lista-certificados {
        max-width: 45rem;
    }

    .lista-projetos {
        padding-left: 0;
    }
}

@media (max-width: 768px) {}

@media (max-width: 540px) {
    .cabecalho {
        height: auto;
    }

    .nome {
        font-size: 2rem;
    }

    .profissao {
        font-size: 1.5rem;
    }

    .saudacao {
        font-size: 1rem;
    }

    .btn-curriculo {
        width: 8rem;
        height: 2.5rem;
    }

    .btn-curriculo a {
        font-size: 14px;
    }

    .imagem-perfil img {
        width: 10rem;
        height: auto;
    } 

    .texto {
        font-size: 1.09rem;
    }

    .lista-projetos {
        justify-content: center;
    }

    .projeto-basico {
        height: 24rem;
    }

    .icones-habilidades {
        justify-content: center;
    }

    .icone {
        width: 4rem;
        height: 4rem;
    }

    .git i,
    .github i,
    .html5 i,
    .css3 i,
    .javascript i,
    .react i,
    .node i,
    .deploy i,
    .express i,
    .api i {
        font-size: 2rem;
    }

    .nomes-icones {
        font-size: 9px;
    }

    .icone.typescript img,
    .icone.vite img,
    .icone.tailwind img {
        width: 2rem;
        height: auto;
    }

    .lista-certificados {
        width: 29rem;
        padding-left: 0;
    }

    #btn-topo {
        width: 28px;
        height: 28px;
        font-size: 1.3rem;
    }

    .frase-final {
        font-size: 12px;
    }

    .desenvolvido {
        font-size: 10px;
    }
}

@media (max-width: 431px) {
    .apresentacao {
        padding: 1rem;
    }

    .texto {
        font-size: 1rem;
    }

    .lista-certificados {
        min-height: 73rem;
        max-width: 22rem;
    }

    .frase-final {
        text-align: center;
    }

}

@media (max-width: 415px) {
    .subtitulo {
        font-size: 1.9rem;
    }

    .lista-certificados {
        max-width: 21rem;
    }

    .contatos {
        padding-left: 24px;
    }
}

@media(max-width: 391px) {
    .subtitulo {
        font-size: 1.7rem;
    }

    .texto {
        font-size: 1rem;
    }

    .lista-certificados {
        max-width: 19.7rem;
    }

    .cartao-certificado {
        min-height: 35rem;
    }

    .imagem-seta {
        width: 50px;
        height: 50px;
    }

    #btn-topo {
        font-size: 1.1rem;
    }
}

@media(max-width: 376px) {
    .subtitulo {
        font-size: 1.6rem;
    }

    .icone {
        width: 3rem;
        height: 3rem;
    }

    .nomes-icones {
        font-size: 6px;
    }

    .lista-certificados {
        width: 19rem;
    }

    .conteudo-rodape {
        max-width: 20rem;
    }
}

@media (max-width: 360px) {
    .subtitulo {
        font-size: 1.5rem;
    }

    .lista-certificados {
        max-width: 18rem;
    }
}

@media(min-width: 1024px) and (min-height: 1000px) {
    .cabecalho,
    .sobremim
    .resumo, 
    .habilidades,
    .certificados {
        min-height: auto;
    }

    .apresentacao,
    .informacoes {
        align-items: center;
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        gap: 40px;
    }

    .informacoes {
        text-align: center;
        gap: 20px;
    }

    .saudacao {
        padding: 0;
    }

    .seta-baixo {
        display: none;
    }

    .contato {
        text-align: center;
    }

    .contatos {
        height: auto;
    }

    .lista-certificados {
        height: 25rem;
    }

    .lista-certificados {
        min-height: 75rem;
    }
}