@media(max-width: 1280px) {
    .header__top {
        padding-right: 2rem;
    }
}

@media(max-width:1024px) {
    .header__nav ul {
        gap: 2rem;
    }

    .header__nav ul li a {
        font-size: 0.75rem;
    }

    .hero {
        padding: 1.8rem;
        gap: 5px;
    }

    .hero__info {
        gap: 2px;
    }

    .hero__name {
        font-size: 2.3rem;
    }

    .hero__role {
        font-size: 1.8rem;
    }

    .hero__description {
        font-size: 1.3rem;
    }

    .hero__resume {
        margin-top: 1rem;
    }

    .hero_image img {
        width: 16rem;
        height: auto;
    }

    .hero__scroll {
        bottom: 0.8%;
    }

    .about__text {
        font-size: 1.07rem;
    }

    .projects__links {
        font-size: 11px;
        gap: 3rem;
    }

    .projetos__cartao-certificado {
        width: 17rem;
        height: 15rem;
    }

    .contatos__mensagem,
    .contatos__credito {
        font-size: 12px;
    }
}

@media(max-width: 920px) {
    .header__top {
        padding-right: 1rem;
    }

    .header__toggle {
        display: flex;
        width: 2.2rem;
        height: 2.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 2.2rem;
    }

    .header__nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 1rem;
        background-color: #161B22;
        padding: 25px;
        border-radius: 8px;
        border: 1px solid #30363d;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        gap: 1rem;
        text-align: center;
    }

    #nav-toggle:checked~ul {
        display: flex;
    }

    .header {
        min-height: auto;
        gap: 2rem;
    }

    .hero {
        flex-direction: column;
        gap: 2rem;
        padding-top: 0;
    }

    .hero,
    .hero__info {
        align-items: center;
    }

    .hero__info{
        text-align: center;
        gap: 20px;
    }

    .hero__description {
        align-items: center;
        padding: 0;
    }

    .hero__image img {
        width: 13rem;
        height: auto;
    }

    .hero__scroll {
        display: none;
    }

    .section {
        padding: 1rem;
    }

    .about,
    .projetos,
    .contatos {
        height: auto;
    }

    .projects__card {
        width: 23rem;
    }

    .projects__links {
        gap: 2rem;
    }
}

@media(max-width: 854px) {
    .skills__item {
        width: 5rem;
        height: 5rem;
    }

    .skills__name {
        font-size: 12px;
    }
}

@media (max-width: 540px) {
    .header {
        height: auto;
    }

    .hero__name {
        font-size: 2rem;
    }

    .hero__role {
        font-size: 1.5rem;
    }

    .hero__description {
        font-size: 1rem;
    }

    .hero__resume {
        width: 8rem;
        height: 2.5rem;
    }

    .hero__resume a {
        font-size: 14px;
    }

    .hero__image img {
        width: 10rem;
        height: auto;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        font-size: 1.09rem;
    }

    .skills__list {
        justify-content: center;
    }

    .skills__item {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }

    .skills__name {
        font-size: 9px;
    }

    .skills__item--typescript img,
    .skills__item--vite img,
    .skills__item--tailwind img {
        width: 2rem;
        height: auto;
    }

    .certificates__list {
        justify-content: center;
    }

    #back-to-top {
        width: 28px;
        height: 28px;
        font-size: 1.3rem;
    }

    .contatos .contatos__imagem {
        width: 6rem;
        height: auto;
    }

    .contatos__mensagem,
    .contatos__credito {
        font-size: 10px;
    }
}

@media (max-width: 431px) {
    .hero {
        padding: 1rem;
    }

    .about__text {
        font-size: 1rem;
    }

}

@media (max-width: 415px) {
    .section__title {
        font-size: 1.9rem;
    }
}

@media(max-width: 391px) {
    .section__title {
        font-size: 1.7rem;
    }

    .about__text {
        font-size: 1rem;
    }

    .hero__scroll-icon {
        width: 50px;
        height: 50px;
    }

    #back-to-top {
        font-size: 1.1rem;
    }

    .contatos .contatos__imagem {
        width: 5rem;
        height: auto;
    }
}

@media(max-width: 376px) {
    .section__title {
        font-size: 1.6rem;
    }

    .skills__item {
        width: 3rem;
        height: 3rem;
    }

    .skills__name {
        font-size: 6px;
    }
}

@media (max-width: 360px) {
    .section__title {
        font-size: 1.5rem;
    }
}

@media(min-width: 1024px) and (min-height: 1000px) {

    .header {
        min-height: auto;
    }

    .hero {
        flex-direction: column;
        gap: 40px; 
    }

    .hero,
    .hero__info {
        align-items: center;
        justify-content: center;
    }

    .hero__info {
        text-align: center;
        gap: 20px;
    }

    .hero__description {
        padding: 0;
    }

    .hero__scroll {
        display: none;
    }
}